<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a
            class="navbar-brand"
            href="/">
            {{ title }}
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a
                        class="nav-link text-dark"
                        href="/">
                        Shipments
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link text-dark"
                        href="https://localhost:5001/swagger/index.html">
                        API Documentation
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-3">
    <alert></alert>
    <router-outlet></router-outlet>
</div>


